$list-ident: 1.25rem;

.wp-block-memuller-table-of-contents {

	li {
		&.lvl-2 { margin-left: $list-ident; }
		&.lvl-3 { margin-left: $list-ident * 2; }
		&.lvl-4 { margin-left: $list-ident * 3; }
		&.lvl-5 { margin-left: $list-ident * 4; }
		&.lvl-6 { margin-left: $list-ident * 5; }
	}
}
